/vendor
/node_modules
/bootstrap/compiled.php
/build/*
/cache/*
/docs/*
composer.phar
.env.*.php
.env.php
.env
.php_cs.cache
.DS_Store
Thumbs.db
coverage.clover
--coverage-clover=coverage.clover/*
.phpstorm.meta.php
phpDocumentor.phar